h1{
	color:yellow;
	background-color: transparent;
	width:40%;
	height:30%;
}

body{
	background: url(https://wallpaperset.com/cool-background-hd);
}
center{
	

	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNCIHCcPpImMec8g917LkXtYdU1YZZu5CixQ&usqp=CAU");
	background-repeat: vertical;
	background-origin: cover;
    border:1px solid black;
    
    
}